<section id="contact">
    <div class="section-header">
        <div class="left-bar"></div>
        <h1 class="titles">Contacto</h1>
        <div class="right-bar"></div>
    </div>

    <div class="map">
        <div class="map-container container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4745.239582413674!2d-86.83445539294041!3d21.142538835067743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2be956663d67%3A0xc6f7079359b7e877!2sParque%20Urbano%20Kabah%2C%20Canc%C3%BAn%20-%20Estacionamiento%20Nichupte!5e0!3m2!1ses-419!2smx!4v1656119160326!5m2!1ses-419!2smx" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="social container">
        <a href="" target="_blank"><img src="assets/icons/whatsapp.png" alt=""></a>
        <a href="" target="_blank"><img src="assets/icons/mail.png" alt=""></a>
        <a href="" target="_blank"><img src="assets/icons/facebook.png" alt=""></a>
        <a href="" target="_blank"><img src="assets/icons/twitter.png" alt=""></a>
    </div>

    <div class="contact-form container form">
        <form [formGroup]="contactForm" (ngSubmit)="formValidation()">
            <div class="form-field">
                <div class="input-container" [ngClass]="invalidFlag">
                    <input type="text" autocomplete="off" required formControlName="name" id="name" (click)="resetValidations()">
                    <span>Nombre</span>
                </div>
                <p class="error" *ngIf="(contactForm.get('name')?.errors && contactForm.get('name')?.touched) || (invalid && contactForm.get('name')?.untouched)" [@enterAnimation]>
                    'Nombre' es requerido
                </p>
            </div>

            <div class="form-field">
                <div class="input-container" [ngClass]="invalidFlag">
                    <input type="text" autocomplete="off" required formControlName="email" id="email" (click)="resetValidations()">
                    <span>Correo electrónico</span>
                </div>
                <p class="error" *ngIf="(contactForm.get('email')?.hasError('required') && contactForm.get('email')?.touched) || (invalid && contactForm.get('email')?.untouched)" [@enterAnimation]>
                    'Correo electrónico' es requerido
                </p>
                <p class="error" *ngIf="contactForm.get('email')?.hasError('pattern') && contactForm.get('email')?.touched" [@enterAnimation]>
                    Formato de correo invalido
                </p>
            </div>

            <div class="form-field-textarea" [ngClass]="invalidFlag">
                <div class="textarea-container">
                    <textarea autocomplete="off" required formControlName="comments" id="comments" (click)="resetValidations()"></textarea>
                    <span>Mensaje</span>
                </div>
                <p class="error" *ngIf="(contactForm.get('comments')?.errors && contactForm.get('comments')?.touched) || (invalid && contactForm.get('comments')?.untouched)" [@enterAnimation]>
                    'Mensaje' es requerido
                </p>
            </div>

            <div class="btn">
                <button mat-button type="submit">Enviar</button>
            </div>
        </form>
    </div>
</section>