@font-face {
    font-family: 'Nexa Regular';
    src: url('../../assets/fonts/nexa/Nexa-Trial-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('../../assets/fonts/nexa/Nexa-Trial-Bold.woff') format('woff');
}