section{
    margin: 2em 0;

    // .section-header{
    //     .left-bar, .right-bar{
    //         width: calc((100% / 3) + 140px);
    //     }
    // }

    .content{
        text-align: center;
        p{
            padding: 1em;
            color: var(--primary);
        }
    }

    .images{
        img{
            width: 100%;
        }
    }
}

// @media screen and (min-width: 400px){
//     .section-header{
//         .left-bar, .right-bar{
//             width: 67%;
//         }
//     }
// }