<section id="about-us">

    <div class="section-header">
        <div class="left-bar"></div>
        <h1 class="titles" id="exp">Nosotros</h1>
        <div class="right-bar"></div>
    </div>

    <div class="container content">
        <p>
            Somos una consultoría con visión integral diseñada para identificar áreas de oportunidad de empresas y emprendedores, a efecto de darles el soporte necesario para su correción, así como ubicar las fortalezas y detonarlas en su beneficio, desde el aspecto financiero, contable y legal
        </p>
    </div>

    <div class="images">
        <img src="assets/images/about/about-banner.png" alt="">
    </div>
</section>