@import "/src/assets/presets/added-values.scss";

section{
    .value{
        margin: 2em 0;
        
        .image{
            width: 80%;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }
    }
}