@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "/src/assets/presets/nexa.scss";
@import "/src/assets/presets/container.scss";
@import "/src/assets/presets/section-header.scss";
@import "/src/assets/presets/owl-styles.scss";

:root{
  --primary: #283780;
  --red: #f44336;
  --white: #ffffff;
}

html, body { height: 100%; background-color: var(--white);}

body { margin: 0; font-family: 'Raleway', sans-serif;}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 0;
}

a,
p,
button,
input,
strong,
span,
textarea,
li {
  font-family: 'Raleway', sans-serif;
}

.titles{
  font-family: 'Nexa Bold';
  color: var(--primary);
  font-size: 2em;
  text-align: center;
  border-top: solid 0.25em var(--primary);
  border-bottom: solid 0.25em var(--primary);
  border-top-right-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.blue-snackbar{
  // background: #6699CC;
  background: #040720;
  color: var(--white);

  button{
    color: #040720;
    background: var(--white);
  }
}

.red-snackbar{
  // background: #6699CC;
  background: #040720;
  color: var(--red);

  button{
    color: #040720;
    background: var(--red);
  }
}